<%= form_for(@point) do |f| %>
    <% if @point.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@point.errors.count, "error") %> prohibited this point from being saved:</h2>

          <ul>
            <% @point.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :cantidad %><br>
      <%= f.number_field :cantidad, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :fecha %><br>
      <%= f.date_select :fecha, { :order => [:day, :month, :year ],  }, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :user_id %><br>
      <%= collection_select(:point, :user_id, User.where.not(role_id: 3), :id, :name_with_initial, {:prompt => 'Selecciona un jugador'}, {class: "form-control"} ) %>
    </div>
    <div class="text-center">
      <% if @point.new_record? %>
          <%= f.submit 'Asignar Puntos', class: "btn btn-primary" %>
      <% else %>
          <%= f.submit 'Asignar Puntos', class: "btn btn-success" %>
      <% end %>
    </div>
<% end %>
