<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @point.cantidad %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @point.fecha %>
</p>

<p>
  <strong>Jugador:</strong>
  <%= @point.user.nombre %> <%= @point.user.apellido %>
</p>

<%= link_to 'Edit', edit_point_path(@point), class: "btn btn-link" %> |
<%= link_to 'Back', points_path, class: "btn btn-link" %>
